html, body{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background: #f5fac8;
}
.container {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
}
.container-login {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center
}
.container-login > input {
    margin-bottom: 10px;
}
#input, #username, #password, #login {
    border: none;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 8px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}
#login {
    background: #aee8e6
}
#list>ul {
    list-style-type: none;
    padding: 0;
}
#filter {
    padding: 0;
}
#filter>li {
    display: inline-block;
    cursor: pointer;
    background: #fff;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.done, .notDone {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box
}
.done {
    background: #f2f2f2;
    color: #aab1c3
}
.notDone input {
    height: 25px;
    width: 25px;
    border: none;
    background: #fff;
}
.done input {
    height: 25px;
    width: 25px;
    background: transparent;
}
.done:hover  .delete, .notDone:hover .delete{
    display: inline-block
}
.delete {
    display: none;
    float: right;
    font-size: 32px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer
}
.delete:hover {
    background: #aee8e6;
    border-radius: 20px;
}

#delete-all {
    background: #e4f16d;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
}
.js-selected {
    background: #aee8e6 !important;
}